html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: rgb(87, 87, 87);
    color: white;
    height: 15vh;
}

header h1 {
    margin: 0 auto;
    padding-top: 3vh;
    text-align: center;
    font-size: 3rem;
}

.card {
    background-color: blue;
    
    /* height: 80%; */
    width: 15rem;
    margin: auto auto;
    font-weight: bold;
    color: white;
}

.card li {
    background-color: blue;
}

.row {
    margin: auto;
}

.city-info {
    width: 90rem;
}

.history-btn {
    font-size: 30px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}

.btn-group {
    display: block;
}

.btn-group button {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    padding: 10px 24px;
    width: 80%;
    display: block;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    background-color: black;
    color: white;
}

.drop-padding {
    padding-left: 0;
    padding-right: 0;
}

.date-line {
    font-size: 30px;
}

#left-side {
    background-color: rgb(200, 200, 200);
    height: 85vh;
    width: auto;
    overflow: scroll;
    padding-left: 3vw;
}

#right-side {
    width: 80vw;
}

#current-weather {
    height: 40vh;
}

#five-day {
    height: 45vh;
}

#map {
    height: 100%;
    width: 100%;
}